{
  # AUTH via API Token:
  # For Cloud use this section and create an API token via -> https://id.atlassian.com/manage-profile/security/api-tokens
  # DELETE THE PAT-SECTION BELOW
  "url": "https://<your_url>",
  "email": "<your email>",
  "api_token": "<your_api_key>"
  
  # AUTH via Personal Access Token:
  # If you are using JIRA Server or Datacenter, use your Personal Access Token (PAT) and delete the above section
  # DELETE THE API Token Section above
  "url": "https://<your_url>",
  "personal_access_token": "<your_personal_access_token>"    
}
